<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/NguyenDinhThanhDanh_21130308_De2/src/Bai_2/PhieuBaiCu.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Bai_2.PhieuBaiCu"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="NguyenDinhThanhDanh_21130308_De2"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="NguyenDinhThanhDanh_21130308_De2"/>
</launchConfiguration>
